.header {
    padding: 40px 0;

    @include tablet {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.header__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include mobile {
        gap: 20px;
    }
}

.header__social {
    margin-left: auto;

    @include mobile {
        margin-left: unset;
    }
}
